body {
    background-color: black;
    height: 100rem;
}

h1 {
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
    color: #19c9ff;
    text-shadow: 0 0 10px #51808f, 0 0 20px #4e7d8c, 0 0 40px #598b9a;
    font-size:70px;
}

h1:hover {
    text-shadow: 0 0 10px #123844, 0 0 20px #123844, 0 0 40px #123844;
    font-size:70px;
    transition: 1s ease-out;
}

h2 {
    color: hsl(0, 0%, 28%);
    font-size: 30px;
    font-weight: bold!important;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  h2 {
    padding: 64px;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 100%, 69%) 15%, hsl(0, 0%, 30%) 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
  }
  
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 1000px;
  }
}

.platform {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3);
  background-color: white;
  gap: 1rem;
  padding: 10rem;
  width: 50rem;
  height: 8rem;
  border-radius: 10px;
  margin: 10%;
}

.ball {
  position: relative;
  height: 50px;
  width: 50px;
  background: black;
  left: 45%;
  top: -15%;
  border-radius: 50rem;
  animation: bounce 1s infinite;
}

@keyframes bounce{
  10%{
    height: 50px;
    width: 50px;
  }
  30%{
    height: 50px;
    width: 40px;
  }
  50% {
    height: 40px;
    width: 55px;
    transform: translateY(250px);
  }
  75% {
    height: 50px;
    width: 53px;
  }
  100% {
    transform: translateY(0px);
  }
}

.container {
  width: 57px;
  height: 50px;
}

.shadow {
  background: rgba(8, 8, 8, 0.05);
  height: 10px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 420px;
  left: 505px;
  animation: shrink 1s infinite;
}

@keyframes shrink {
  50% {
    transform: scaleX(0.6);
  }
}
