h1 {
    font-size: 10rem;
    text-align: center;
    line-height: 10px;
}

h2 {
    font-size: 2rem;
    text-align: center;
}


body {
    background-color: beige;
}

h3 {
    font-size: 1rem; 
}

.box1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding:2rem;
    width: 95%;
}

.minibox {
    background-color: rgb(107, 107, 226);
    border: 3px solid;
    border-color: rgb(107, 107, 226);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.minibox:hover {
    transition-duration: 0.1s;
    border: 3px solid;
    border-color: black;
    cursor: default;
    background-color:aquamarine;
    transition-duration: 0.5s;
}