button {
    background-color: rgb(154, 236, 255);
    border: None;
    border-radius: 0.5rem;
    text-align: center;
    margin: 2rem 2rem;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    align-items: center;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgb(243, 201, 255),0 17px 50px 0 rgba(243, 201, 255);
    background-color: rgb(227, 127, 255);
    transition-duration: 0.5s;
}

a {
    color:rgb(84, 84, 84);
    text-decoration: None;
    font-size: 1.25rem;
    width: 10rem;
    line-height: 3rem;
}